{% extends "dashboard/base.html" %}
{% load static %}

{% block base-content %}
<div class="container my-5">
    <div class="row">
        <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
            Thank you for your email confirmation.
            <br>
            <span class="text-muted">
                Now you can login your account.
                <a href="{% url 'login' %}" class="nav-link text-gold">Click here to log in!</a>
            </span>
        </h2>
    </div>
</div>
{% endblock %}
