{% extends "dashboard/base.html" %}
{% load static %}

{% block base-content %}
<div class="container my-5">
    <div class="row">
        <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
            Thank you for your email confirmation.
            <br>
            <span class="text-muted">
                The connection was created successfully!
            </span>
        </h2>
    </div>
</div>
{% endblock %}
