{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% load static %}

{% block base-content %}

<section>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-8">
                <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
                    Welcome back!
                    <br>
                    <span class="text-muted">
                        Login into your account to see all your data.
                    </span>
                </h2>
            </div>
            <div class="col content-section my-auto lh-lg">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="row">
                        <div class="col form-group pt-3">
                            <button class="btn btn-outline-gold" type="submit">Login!</button>
                        </div>
                        <div class="col pt-3 text-end">
                            <small class="text-muted">
                                Need An Account? <a class="ml-2 link-gold" href="{% url 'register' %}">Sign Up Now</a>
                            </small><br>
                            <small class="text-muted">
                                <a class="ml-2 link-gold" href="{% url 'password_reset' %}">Forgot your password?</a>
                            </small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
