{% extends "dashboard/base.html" %}
{% load static %}

{% block base-content %}
<section>
    <div class="container my-5">
        <div class="row">
            <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
                An email has been sent with instructions to reset your password.
            </h2>
        </div>
    </div>
</section>
{% endblock %}
