{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% load static %}

{% block base-content %}

<section>
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
          Reset your password!
          <br>
          <span class="text-muted">
            Enter your address and wait for the email.
          </span>
        </h2>
      </div>
      <div class="col mx-auto content-section my-auto lh-lg">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="col-md-6 mx-auto form-group ">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group pt-3 col-md-4 mx-auto">
            <button class="btn btn-outline-gold" type="submit">Request password reset!</button>
          </div>
          <div class="mt-3">
            <p class="text-muted ml-5" style="text-align:right">
              Need An Account? <a class="link-gold" href="{% url 'register' %}">Sign Up Now</a>
            </small>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}
