{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% crispy form %}
{% load static %}

{% block base-content %}
<section>
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
          Welcome back!
          <br>
          <span class="text-muted">
            Introduce your new password. :)
          </span>
        </h2>
      </div>
      <div class="col content-section my-auto lh-lg">
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form|crispy }}
          </fieldset>
          <div class="form-group pt-3">
            <button class="btn btn-outline-gold" type="submit">Reset password!</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
