{% extends "dashboard/base.html" %}
{% load static %}

{% block base-content %}

<section>
    <div class="container my-5">
        <div class="row">
            <h2 class="my-5 pe-4 text-center featurette-heading text-gold">
                Congratulations!
                <br>
                <span class="text-muted">
                    Your password has been reset.
                    <br>
                    <a href="{% url 'login' %}" class="nav-link text-gold">Sign in here!</a>
                </span>
            </h2>
        </div>
    </div>
</section>

{% endblock %}
