{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html style="font-size: 16px;">

{% include "dashboard/head.html" %}

<body data-home-page-title="Profile" class="u-body">
  {% include "dashboard/menu.html" %}

  {% block profile-content %}{% endblock %}

  {% include "dashboard/footer.html" %}

</body>

</html>
