// Create your own map
$custom-colors: (
  "gold": #C29938,
  "royal-blue": #2B2658
  // "gold": #7D8491,
  // "highlight": #443850, 
);

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
$utilities-text-colors: map-merge($utilities-text-colors, $custom-colors);

@import "../bootstrap/scss/bootstrap";

.nav-tabs .active {
  @extend .active;
  color: #C29938 !important;;
}

.nav-link.active {
  @extend .active;
  color: #C29938 !important;;
}

.errorlist {
  @extend .errorlist;
  margin-bottom: 0;
}
