{% extends 'users/profile.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block profile-content %}
<style>
  .img-profile {
    position: absolute;
    top: -6.5rem;
  }

  .cover {
    background: linear-gradient(#C29938, #333);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }

  .tab-element {
    background-color: white;
    border-radius: 4px;
    border: 1px solid transparent;
    border-color: #fff #dee2e6 #dee2e6
  }

  .menu-element {
    background-color: white;
  }

  .my-featurette {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
    font-size: 38px;
  }
</style>

<script type="application/javascript">
  $(document).ready(function () {
    var hash = location.hash;
    var activeTab = $('#myTab a[href="' + hash + '"]');
    if (activeTab) {
      activeTab.tab('show');
    }
  });
</script>

<div class="row py-5 px-4" style="margin-right:0px; margin-left:0px">
  <div class="col-md-7 mx-auto">
    <div class="bg-light shadow rounded overflow-hidden">
      <div class="px-4 pt-0 cover">
      </div>
      <div class="row mt-3">
        <hr style="height:3px;border-width:0;color:black">
      </div>
      <div class="row bg-light mb-4 pt-1 p-4 d-flex" style="position: relative">
        <div class="col-md-5 media align-items-end">
          <div class="profile my-auto img-profile">
            <img class="rounded-circle account-img " width="200" height="200" src="{{ user.profile.image.url }}">
          </div>
        </div>
        <div class="col-md-7 text-black textleft">
          <h2 class="account-heading mt-0 mb-0">
            {{ user.profile.first_name }}
            {{ user.profile.last_name }}
          </h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <div class="mx-4 my-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link text-black active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" href='#home'
              type="button" role="tab" aria-controls="home" aria-selected="true">Personal data</a>
          </li>
          {% if not user.is_doctor %}
          <li class="nav-item" role="presentation">
            <a class="nav-link text-black" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
              href='#profile' type="button" role="tab" aria-controls="profile" aria-selected="false">Medical data</a>
          </li>
          {% endif %}
          <li class="nav-item" role="presentation">
            <a class="nav-link text-black" id="reset-tab" data-bs-toggle="tab" data-bs-target="#reset" href='#reset'
              type="button" role="tab" aria-controls="reset" aria-selected="false">Account settings</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active tab-element" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row pt-4">
              <div class="col-md-4 d-flex my-4">
                <h3 class="text-gold text-center featurette-heading">Your personal data
                </h3>
              </div>
              <div class="col-md-7 bg-white my-3 pb-3 menu-element">
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">Full Name</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.first_name }}
                    {{ user.profile.last_name }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">Birthday</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.birthday }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">CNP</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.cnp }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">Email</p>
                  <p class="py-2 text-muted">
                    {{ user.email }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">Phone</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.phone_number }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom">
                  <p class="py-2">Address</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.address }}
                  </p>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <p class="py-2">Registration date</p>
                  <p class="py-2 text-muted">
                    {{ user.profile.registered_date }}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade tab-element" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row my-4">
              <div class="col-md-4 d-flex my-5">
                <h2 class="featurette-heading text-gold my-auto text-center">
                  Your medical data
                </h2>
              </div>
              <div class="col-md-7 d-flexbg-white my-3 py-2 pb-3 menu-element">
                {% if doctors|length == 0 %}
                  <h5 class="text-red pb-3">You don't have a doctor assigned!</h5>
                {% else %}
                  <h5 class="mt-4"> Your assigned {% if doctors|length == 1 %}doctor is{% else %}doctors are{% endif %}:</h5>
                  <ul>
                    {% for dr in doctors %}
                    <li>
                      <span class="text-gold">{{ dr.name }}: {{ dr.specialty }}</span> - {% if dr.connection_approved == True %}<a href="{% url 'remove_doctor' upkb64=dr.pk %}">remove</a>{% else %}connection pending{% endif %}
                    </li>
                    {% endfor %}
                  </ul>
                <h5 clsss="mb-2">Connect with another doctor:</h5>
                {% endif %}
                <form method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col form-group">
                      {{ profile_choose_doctor_form|crispy }}
                    </div>
                    <div class="col-md-3 form-group">
                      <button class="btn btn-outline-gold" type="submit">Connect</button>
                    </div>
                  </div>
              </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade tab-element" id="reset" role="tabpanel" aria-labelledby="reset-tab">
            <div class="row text-center">
              <div class="col-md-7 d-flex">
                <p class="mx-auto my-auto my-featurette text-gold">
                  Change your password
                </p>
              </div>
              <div class="col-md-4 d-flex bg-white my-3 menu-element mx-auto">
                {% if error_msg != "" %}
                <div class="alert alert-danger mt-4" role="alert">
                  {{ error_msg }}
                </div>
                {% endif %}
                <form method="POST" class="my-4">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ password_update_form|crispy }}
                  </fieldset>
                  <div class="mt-3 form-group">
                    <button class="btn btn-outline-gold" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
            <hr style="width:85%; margin:auto; opacity: 0.2; color: gray; height:4px">
            <div class="row py-4 text-center">
              <div class="col-md-7 d-flex my-auto">
                <h2 class="mx-auto my-auto my-featurette text-gold text-center">
                  Change your email
                </h2>
              </div>
              <div class="col-md-4 d-flex bg-white menu-element">
                <form method="POST" class="my-3 mx-5">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ email_update_form|crispy }}
                  </fieldset>
                  <div class="mt-3 form-group">
                    <button class="btn btn-outline-gold" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
            <hr style="width:85%; margin:auto; opacity: 0.2; color: gray; height:4px">
            <div class="row py-3 text-center">
              <div class="col-md-7 d-flex my-auto">
                <h2 class="mx-auto my-featurette my-auto text-gold text-center">
                  Change your profile pic
                </h2>
              </div>
              <div class="col-md-4 bg-white menu-element">
                <form method="POST" class="my-4 mx-5">
                  {% csrf_token %}
                  <fieldset class="form-group">
                    {{ profile_update_form|crispy }}
                  </fieldset>
                  <div class="mt-3 form-group">
                    <button class="btn btn-outline-gold" type="submit">Update</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
