{% load static %}

<section>
    <div class="container my-auto pt-5">
        <div class="row">
            <div class="col mx-auto">
                {% if valid_form == True %}
                <h2 class=" text-center featurette-heading text-gold">
                    Go check your email!
                    <br>
                    <span class="text-muted">
                        Click the link in the email we sent you to activate your account.
                    </span>
                </h2>
                {% else %}
                <h2 class=" text-center featurette-heading text-gold">
                    Become part of our community!
                    <br>
                    <span class="text-muted">
                        Create an account and use all the features of Gluco Mate.
                    </span>
                </h2>
                {% endif%}
            </div>
            <div class="col">
                <form method="post" action="{% url 'register' %}" id='form' name='form' class="row g-3">
                    {% csrf_token %}
                    <input type="hidden" name="user_register_form" value="1">
                    <div class="col-md-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required
                            {% if form.email.value != None and valid_form != True %}value="{{ form.email.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="password1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password1" name="password1" required>
                    </div>
                    <div class="col-md-6">
                        <label for="password2" class="form-label">Retype password</label>
                        <input type="password" class="form-control" id="password2" name="password2" required>
                    </div>
                    {% comment %}
                </form>
                <form method="post" action="{% url 'register' %}" id='profile_register_form'
                    name='profile_register_form.prefix' class="row g-3">
                    {% csrf_token %} {% endcomment %}
                    <input type="hidden" name="profile_register_form" value="1">
                    <div class="col-md-6">
                        <label for="first_name" class="form-label">First name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required
                            {% if form.first_name.value != None and valid_form != True %}value="{{ form.first_name.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="last_name" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required
                            {% if form.last_name.value != None and valid_form != True %}value="{{ form.last_name.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="birthday" min="1921-01-01" max="2022-01-01"
                            name="birthday" required
                            {% if form.birthday.value != None and valid_form != True %}value="{{ form.birthday.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="cnp" class="form-label">CNP</label>
                        <input type="text" class="form-control" id="cnp" name="cnp" maxlength="13" required
                            {% if form.cnp.value != None and valid_form != True %}value="{{ form.cnp.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-md-6">
                        <label for="phone_number" class="form-label">Phone number</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" maxlength="10"
                            required
                            {% if form.phone_number.value != None and valid_form != True %}value="{{ form.phone_number.value }}"
                            {% endif %}>
                    </div>
                    <div class="col-6">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St"
                            required
                            {% if form.address.value != None and valid_form != True %}value="{{ form.address.value }}"
                            {% endif %}>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">{{ message }}</div>
                            {% elif message.tags == 'success' %}
                                <div class="alert alert-success" role="alert">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="row my-3">
                        <div class="col">
                            <button type="submit" class="btn btn-outline-gold">Sign up!</button>
                        </div>
                        <div class="text-end col">
                            <a href="{% url 'login' %}" class="link-gold"> Already have an account?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
