{% load static %}

<section class="pt-4 container">
    <div class="text-center text-gold">
        <p class="h1 pb-5">About me</p>
        <hr style="width:7%; margin:auto; opacity: 1; height:8px">
    </div>
    <div class="text-center my-4 mx-5 fs-5">
        <p>Hi! Welcome to my app!<br>
            I am Sorina. I am 21 years old and I study Computer Science at the West University of Timișoara.<br>
            You want to know something about me?
            I have a dog, Luna and I love trekking with her. I also love coding, skiing and reading
            (when I don't code), but the activity I enjoy the most is travelling. </p>
        <p> Gloco Mate is my Bachelors thesis and its aim is to help diabetes patients escape the
            hassle of taking their
            paper with glycosylated hemoglobin values with them each time they go to the
            doctor.
            We all know how irritating it is to forget your most important piece of information at
            home and realise it
            only in the doctor's office.</p>
    </div>

    <div class="container pt-5 d-flex align-content-conter flex-wrap">
        <div class="row">
            <div class="col featurette">
                <img src="{% static 'dashboard/images/me.jpg' %}" class=" mx-auto d-block rounded" style="width:350px">
            </div>
            <div class="col my-auto text-center text-gold">
                <div class="container">
                    <div class="row">
                        <div class="col fs-5">
                            <p>Diabetes is one of the most spread disease in the world, even if you don't
                                have it, you know at least one person who is not as lucky as
                                you are.</p>
                            <p> One of the most important metrics that must be kept track of is the glycosylated
                                hemoglobin (HbA1c). Why is this thing with such a hard-to-pronouce name so important?
                                Well, all things with long names are usually important, but especially this one because
                                it is used for predicting the evolution of diabetes and this is why I created this app.</p>
                        </div>
                        <div class="row">
                            <img src="{% static 'dashboard/images/logo.png'%}" style="width:200px" class=" mx-auto">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="featurette-divider">
</section>
