{% load static %}

<section>
    <div class="row featurette pt-5 container mx-auto">
        <div class="col-md-6 text-center mx-auto">
            <h3 class="featurette-heading text-gold mt-5">Contact us</h3>
            {% if sent == None %}
                <p class="lead ">Do you have any questions? Please do not hesitate to
                contact us
                directly. Our team will come back to you within
                a matter of hours to help you.</p>
            {% elif sent == True %}
                <p class="lead">Your email has been sent. Our team will contact you as soon as possible.</p>
            {% elif sent == False %}
                <p class="lead"> Your email has not been sent. Please fill in all the fields and try again</p>
            {%endif%}
        </div>
        <div class="col-md-6 px-5">
            <form method="POST" action="{% url 'dashboard-contact' %}" class="row g-3 pe-5">
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="col-12">
                    <label for="subject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="subject" name="subject">
                </div>
                <div class="col-md-12">
                    <div class="md-form">
                        <label for="message">Your message</label>
                        <textarea type="text" id="message" name="message" rows="2"
                            class="form-control md-textarea"></textarea>
                    </div>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-gold">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <hr class="featurette-divider">

</section>
