{% load static %}

<section class="py-5 bg-light text-center">
    <div class="container mx-auto">
        <div class="row">
            <div class="col">
                <img class="d-block mx-lg-auto img-fluid" src="{% static 'dashboard/images/stethoscope.png' %}"
                    style="height: 190px;">
            </div>
            <div class="col-lg-6 col-md-8 mx-auto my-auto">
                <p class="fw-light" style="font-size:73px; margin-bottom:0px">Gluco Mate</h1>
                    <p class="fw-light" style="font-size:30px">Improving Lives Together</p>
            </div>
        </div>
    </div>
</section>
