{% load static %}

<style>
    .img-doctor {
        top: 0;
        left: 9%;
        position: absolute;
        height: 25rem;
        width: 38rem;
        border-radius: 30px;
    }

</style>

<hr class="featurette-divider pt-0">

{% if doctors %}
<div class="container marketing text-center">
    <div class="row">
        <div class="col-md-5 mx-auto my-auto text-center pb-5 slideshow-description">
            <h2 class="featurette-heading mt-0 fw-light text-gold">Welcome!</h2>
            <p class="lead py-3">We are here to help you keep diabetes under control. <br>
                We take monitoring glycosilated hemoglobin just as serious as you do because we know how important it is
                for your health.
                The best way we can prove this is through our team of doctors. Some of them are presented here.
            </p>
        </div>

        <div class="col-md-6">
            <div id="carouselCaptions" class="carousel slide mt-2 mx-auto" data-bs-ride="carousel">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for doctor in doctors %}
                        <button type="button" data-bs-target="#carouselCaptions"
                            data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"
                            {% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                        {% endfor %}
                    </ol>

                    <div class="carousel-inner">
                        {% for doctor in doctors %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="width: 600px; height: 450px;">
                            <img src="/media/{{ doctor.image }}" style="width: 100%; height: 100%; display: block;" class="mx-auto my-auto img-responsive" alt="...">
                            <div class="carousel-caption mx-auto text-light">
                                <h3><mark style="background: rgba(73, 73, 73, .5); color:white">{{ doctor.name }}</mark></h3>
                                <p><mark style="background: rgba(73, 73, 73, .5); color:white">{{ doctor.specialty }}</mark></p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<hr class="featurette-divider">
