{% load static %}

<div class="container marketing pt-5">
    <div class="row text-center">
        <div class="col-lg-3">
            <img class="rounded-circle" src="{% static 'dashboard/images/logo1.png' %}">

            <h2 class="fw-light pt-2 text-gold">Your data at a glance</h2>
            <p class="text-center lead">Safely store your HbA1c values using the app</p>
        </div>
        <div class="col-lg-3">
            <img class="rounded-circle" src="{% static 'dashboard/images/logo2.png' %}">

            <h2 class="fw-light pt-2 text-gold">Data visualisation</h2>
            <p class="lead text-center">Real time graphical representations of your data</p>
        </div>
        <div class="col-lg-3">
            <img class="rounded-circle" src="{% static 'dashboard/images/logo3.png' %}">

            <h2 class="fw-light pt-2 text-gold">Data sharing</h2>
            <p class="lead text-center">Share your data with your medical care provider online</p>
        </div>
        <div class="col-lg-3">
            <img class="rounded-circle" src="{% static 'dashboard/images/logo4.png' %}">

            <h2 class="fw-light pt-2 text-gold">A loot into the future</h2>
            <p class="lead text-center">Accurate health predictions based on your data</p>
        </div>
    </div>
</div>
