{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html style="font-size: 16px;">

{% include "dashboard/head.html" %}

<body data-home-page-title="Home page" class="u-body">
  {% include "dashboard/menu.html" %}

  {% include "dashboard/page-sections/section-1.html" %}

  {% block base-content %}{% endblock %}

  {% include "dashboard/footer.html" %}
</body>
</html>
