{% extends "dashboard/dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% load extras %}

{% block dashboard-content%}
<script>
    $( function() {
        document.querySelector('#submit').addEventListener('click', function(event) {
            $('#results').attr('style', 'display:none');
            $('#processing-data').removeAttr('style');
            return true;
        });
    } );
</script>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="my-5 mx-auto">
        <div class="row border-bottom">
            <div class="col-md-6 mx-3">
                <h2 class="text-center mb-3">Understanding the logic</h2>
                <h6>On this page you can get a diabetes stage classification. The system will predict your glycosylated
                    hemoglobin (HbA1c) level based on your blood work results
                    and it will classify you into one of the following three cathegories: </h6>
                <ul class="mx-auto">
                    <li>Normal: no need to worry, your HbA1c level is in normal ranges; </li>
                    <li>Pre-diabetic: your HbA1c level is higher than 5.7%, see a doctor;</li>
                    <li>Diabetic: your HbA1c level indicates you have diabetes.</li>
                </ul>
                <h6 class="text-gold">Note: the more values you introduce, the more accurate the prediction will be.
                </h6>
            </div>
            <div class="col-md-5">
                <h2 class="mb-3 text-center">Understanding the values</h2>
                <h6 class="text-justify">For all the values, except from the eyeground, the corresponding test values
                    must be introduced.
                    These values must be expressed in the measurement units mentioned after the names of the tests.
                </h6>
                <h6>For the eyeground, there are two choices: <i>Yes</i>, there are pathologycal changes on the
                    eyeground; <i>No</i>, there are no pathologycal changes on the eyeground.
            </div>
        </div>

        <div class="mt-5">
            <h1 class="h2 mx-auto text-center">Blood Work Results</h1>
            <form method="post" class="row g-3 mt-4 mb-5 mx-3">
                {% csrf_token %}
                {% for field in form %}
                <div class="col-md-3 form-group">
                    {{ field|as_crispy_field }}
                </div>
                {% endfor %}
                <div class="col-md-3 text-center form-group" style="margin-top: 2.35rem;">
                    <button type="submit" id="submit" class="btn btn-outline-gold">Get Classification</button>
                </div>
                {% if messages %}
                {% for tag in messages|get_level_tags %}
                <div class="alert alert-{{ tag|get_bootstrap_level_tag_name }} col-md-4 my-5 mx-auto text-center" role="alert">
                    <div class="messages">
                        {% for message in messages|get_level_tag:tag %}
                            {{ message }}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </form>
        </div>

        <div class="row" id="processing-data" class="pb-3" style="display:none">
            <div class="col-md-4 py-2 text-center mx-auto"
                style="background-color:#DEF5FF; border-radius:30px;">
                <h3>The system is processing your data, please wait...</h3>
            </div>
        </div>
        {% if diabetes_class %}
        <div class="row" id="results">
            <div class="col-md-4 py-2 text-center mx-auto"
                style="background-color:{% if diabetes_class == "Normal" %}#e6ffe6{% elif diabetes_class == "Pre-diabetic" %}#ffffe6{% else %}#ffe6e6{% endif %}; border-radius:30px;">
                <h3>Your diabetes classification is</h3>
                <h4 class="text-{% if diabetes_class == "Normal" %}success{% elif diabetes_class == "Pre-diabetic" %}warning{% else %}danger{% endif %}">
                    {{ diabetes_class }}
                </h4>
            </div>
        </div>
        {% endif %}
        <div class="mt-5">
            {% if history_data|length > 0 %}
            <h1 class="h2 mx-auto text-center">Last {{ history_data|length }} classifications</h1>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">SBP</th>
                            <th scope="col">DBP</th>
                            <th scope="col">Triglyceride</th>
                            <th scope="col">HDL</th>
                            <th scope="col">LDL</th>
                            <th scope="col">GPT</th>
                            <th scope="col">Height</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Urinary Glucose</th>
                            <th scope="col">Serum Creatinine</th>
                            <th scope="col">eGFR</th>
                            <th scope="col">Urinary Protein</th>
                            <th scope="col">Eyeground</th>
                            <th scope="col">Blood Classification</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in history_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ v.systolic_bp }}</td>
                            <td>{{ v.diastolic_bp }}</td>
                            <td>{{ v.triglyceride }}</td>
                            <td>{{ v.hdl }}</td>
                            <td>{{ v.ldl }}</td>
                            <td>{{ v.gpt }}</td>
                            <td>{{ v.height }}</td>
                            <td>{{ v.weight }}</td>
                            <td>{{ v.urinary_glucose }}</td>
                            <td>{{ v.serum_creatinine }}</td>
                            <td>{{ v.egfr }}</td>
                            <td>{{ v.uric_pro }}</td>
                            <td>{{ v.eyeground }}</td>
                            <td>{{ v.class_type }}</td>
                            <td>{{ v.date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif%}
        </div>
    </div>
</main>
{% endblock %}
