{% load static %}

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">
                    {% if not user.is_doctor %}
                    <li class="nav-item">
                        {% url 'dashboard-new_value' as dashboard_new_value%}
                        <a class="nav-link {% if request.path == dashboard_new_value %}active{% endif %}" aria-current="page" href="{% url 'dashboard-new_value' %}">
                            <span data-feather="home"></span>
                            Add a new value
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'dashboard-history' as dashboard_all_values %}
                        <a class="nav-link {% if request.path == dashboard_all_values %}active{% endif %}" href="{% url 'dashboard-history' %}">
                            History
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'dashboard-small_variation' as dashboard_variation %}
                        <a class="nav-link {% if request.path == dashboard_variation %}active{% endif %}" href="{% url 'dashboard-small_variation' %}">
                            0.5% variation
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'dashboard-classification' as dashboard_classification %}
                        <a class="nav-link {% if request.path == dashboard_classification %}active{% endif %}" href="{% url 'dashboard-classification' %}">
                            Diabetes classification
                        </a>
                    </li>
                    <li class="nav-item">
                        {% url 'dashboard-forecasting' as dashboard_forecasting %}
                        <a class="nav-link {% if request.path == dashboard_forecasting %}active{% endif %}" href="{% url 'dashboard-forecasting' %}">
                            HbA1c forecasting
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</div>
