{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html style="font-size: 16px;">

{% include "./head.html" %}

<body data-home-page-title="Dashboard" class="u-body">
  {% include "./menu.html" %}
  {% if not user.is_doctor %}
    {% include './dashboard_menu.html'%}
  {% endif%}
  {% block dashboard-content%}{% endblock %}

</body>

</html>
