<footer class="container">
    <p class="float-end"><a href="#" class="link-gold">Back to top</a></p>
    <p>&copy; 2022 Sorina-Aurelia Dumitru </p>
    <p> West University of Timișoara</p>
</footer>
