{% extends "dashboard/dashboard.html"%}
{% load static %}
{% load crispy_forms_tags %}
{% load extras %}

{% block dashboard-content%}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="my-5 mx-auto">
        <div class="row border-bottom">
            <div class="col-md-6 mx-3">
                <h2 class="text-center pb-5">Understanding the logic</h2>
                <h6>On this page you can get a accuracte HbA1c level forecasting. The system will predict your
                    future glycosylated
                    hemoglobin (HbA1c) levels based on data you previously introduced.</h6>
                <h6> A graphical representaion of
                    these estimations should be visible. If there is any error displayed saying that there are not
                    enough values introduced, please check your dashboard and add values.</h6>
                <h6 class="text-gold">Note: the more values are introduced, the more accurate the estimation will be.
                </h6>
            </div>
            <div class="col-md-5">
                <h2 class="mb-3 text-center">Understanding the graphical representations</h2>
                <h6>
                    The user must enter the time interval between logging two consecutive HbA1c values into the
                    application.
                </h6>
                <h6 class="text-justify">
                    All blue points within the graphical representation are user-entered values. They are used by the
                    system to predict the next three possible values.
                    Yellow points represent the estimated HbA1c values.
                </h6>
            </div>

            <div class="mt-5">
                <h1 class="h2 mx-auto text-center">HbA1c Forecasting Results</h1>
                {% if messages %}
                {% for tag in messages|get_level_tags %}
                <div class="alert alert-{{ tag|get_bootstrap_level_tag_name }} col-md-4 my-5 mx-auto text-center"
                    role="alert">
                    <div class="messages">
                        {% for message in messages|get_level_tag:tag %}
                        {{ message }}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <canvas class="my-4 w-100" id="forecasting-chart" width="900" height="200"></canvas>
</main>

<script src="{%static 'dashboard/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
</script>

{% if data|length > 0 %}
<script src="{% static 'dashboard/js/chart-drawer.js' %}"></script>
<script>
    draw_forecasting_chart({{data | safe}}, {{labels | safe}});
</script>
{% endif %}

{% endblock %}
