{% load static %}
{% load sass_tags %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if title %}{{ title }}{% else %}Gluco Mate{% endif %}</title>

  <link href="{% sass_src 'dashboard/css/custom.css' %}" rel="stylesheet" type="text/css" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="{% static 'dashboard/css/carousel.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/css/dashboard.css' %}" rel="stylesheet">
  <link href="{% static 'dashboard/css/perfect-scrollbar.css' %}" rel="stylesheet">
</head>
