{% load static %}

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'dashboard-homepage' %}">Gluco Mate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            {% url 'dashboard-homepage' as dashboard_homepage %}
            <a class="nav-link {% if request.path == dashboard_homepage %}active{% endif %}"
              aria-current="page" href="{% url 'dashboard-homepage' %}">Home</a>
          </li>
          <li class="nav-item">
            {% url 'dashboard-contact' as dashboard_contact %}
            <a class="nav-link {% if request.path == dashboard_contact %}active{% endif %}"
              href="{% url 'dashboard-contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            {% url 'dashboard-about' as dashboard_about %}
            <a class="nav-link {% if request.path == dashboard_about %}active{% endif %}"
              href="{% url 'dashboard-about' %}">About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          {% if user.is_authenticated %}
          <li class="nav-item">
            {% url 'dashboard-new_value' as dash1 %}
            {% url 'dashboard-history' as dash2 %}
            {% url 'dashboard-mean' as dash3 %}
            {% url 'dashboard-standard_dev' as dash4 %}
            {% url 'dashboard-variation_coefficient' as dash5 %}
            {% url 'dashboard-small_variation' as dash6 %}
            {% url 'dashboard-patient_dashboards' as dash7 %}
            {% url 'dashboard-classification' as dash8 %}
            {% url 'dashboard-forecasting' as dash9 %}
            {% if user.is_doctor %}
            <a href="{% url 'dashboard-patient_dashboards'%}"
              class="nav-link fs-6 align-middle mx-2 {% if request.path == dash1 or request.path == dash2 or request.path == dash3 or request.path == dash4 or request.path == dash5 or request.path == dash6 or request.path == dash7 or request.path == dash8 or request.path == dash9 %} active {% endif %}"
              style="text-decoration:none">Dashboard</a>
            {% else %}
            <a href="{% url 'dashboard-new_value'%}"
              class="nav-link fs-6 align-middle mx-2 {% if request.path == dash1 or request.path == dash2 or request.path == dash3 or request.path == dash4 or request.path == dash5 or request.path == dash6 or request.path == dash7 or request.path == dash8 or request.path == dash9 %} active {% endif %}"
              style="text-decoration:none">Dashboard</a>
            {% endif %}
          </li>
          <li class="nav-item">
            {% url 'profile' as user_profile %}
            <a href="{% url 'profile' %}"
              class=" fs-6 mx-2 nav-link align-middle {% if request.path == user_profile %}active{% endif %}"
              style="text-decoration:none"> My
              profile</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'dashboard-logout' %}" class="mx-2">
              <button type="button" class="btn btn-gold">Log out</button>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a href="{% url 'login' %}">
              <button type="button" class="btn btn-outline-gold me-2">Login</button>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'register' %}">
              <button type="button" class="btn btn-gold">Sign-up</button>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    </div>
  </nav>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</header>
