{% extends "dashboard/dashboard.html"%}
{% load static %}
{% load extras %}

{% block dashboard-content%}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="my-5 mx-auto">
        <h1 class="h2 mx-auto text-center">Introduce a new value:</h1>

        <form method="post" class="row g-3">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 mx-auto center-block mt-3">
                    <input type="number" step="0.01" min="0" max="15" class="form-control" id="value" name="value" placeholder="New HbA1c value" required>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mx-auto center-block mb-3">
                    <label for="date">Date and time:</label>
                    <input type="datetime-local" id="date" name="date" class="form-control" required>
                </div>
            </div>
            <div class="text-center my-2">
                <button type="submit" class="btn btn-outline-gold">Submit</button>
            </div>
        </form>
    </div>

    {% if data|length > 0 %}
    <h2 class="text-gold">Last {{ data|limit:10|length }} values introduced</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">HbA1c value</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for value in data|reverse|limit:10 %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ value }}</td>
                    <td>{{ labels|reverse|limit:10|at:forloop.counter0 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h2>No values available.</h2>
    {% endif%}
</main>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
</script>
<script>
window.addEventListener('load', () => {
    var now = new Date();
    now.setMinutes(now.getMinutes() - now.getTimezoneOffset());
    now.setMilliseconds(null)
    now.setSeconds(null)
    document.getElementById('date').value = now.toISOString().slice(0, -1);
});
</script>
{% endblock %}
