{% load static %}
{% load crispy_forms_tags %}
{% load sass_tags %}
{% load extras %}

<!DOCTYPE html>

<html lang="en" class="material-style layout-fixed">

{% include "dashboard/head.html" with title="Patient dashboard" %}

<body>
  {% include "dashboard/menu.html" %}
    <div class="page-loader">
        <div class="bg-primary"></div>
    </div>

    <div class="layout-wrapper layout-2">
        <div class="layout-inner">
            <div class="layout-container">
                <div class="layout-content">
                    <div class="container-fluid flex-grow-1 container-p-y pt-1">
                        <h4 class="font-weight-bold py-3 mb-0 text-center">Patient dashboard</h4>
                        <div class="row">
                          <div class="col-md-12">
                            {% if patients_count == 0 %}
                            <div class="alert alert-warning" role="alert">
                                You don't have any connections! <br />
                                Add patients before so that you can visualize their data.<br /><br />
                                {% if patients_unconfirmed|length > 0 %}
                                You have {{ patients_unconfirmed|length }} patients that are waiting for confirmation. Please check your email!
                                <ul>
                                {% for patient_unconf in patients_unconfirmed %}
                                    <li>{{ patient_unconf|at:1 }}</li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                              </div>
                              {% else %}
                              <div class="card d-flex w-100 mb-4">
                                <form method="post" class="form-group mx-auto pt-2 pb-3">
                                    {% csrf_token %}
                                    <div class="row no-gutters row-bordered row-border-light h-100">
                                        {% for field in dash_choose_patient_form %}
                                        <div class="{% if forloop.counter == 1 %}col-4{% else %}col-3{% endif %} align-items-center">
                                            <div class="card-body-form">
                                                <div class="row align-items-center">
                                                    <div class="col-auto">
                                                        {% if forloop.counter == 1 %} <i class="feather icon-search navbar-icon align-middle "></i> {% endif %}
                                                    </div>
                                                    <div class="col">
                                                        {{ field|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="col-2 align-items-center">
                                            <div class="card-body-form">
                                                <div class="row align-items-center">
                                                    <div class="col form-group" style="margin-top:20px">
                                                        <button class="btn btn-outline-gold " id="submit" type="submit">Get data</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </form>
                            </div>
                            {% endif %}
                          </div>
                      </div>
                      {% if data and patients_count != 0 %}
                      {% if data|length == 0 %}
                      <div class="alert alert-warning" role="alert">
                        This patient has no data introduced! <br />
                        Please contact him and remind him to log his HbA1C values.
                      </div>
                      {% else %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card mb-4">
                                    <div class="card-header with-elements">
                                        <h6 class="card-header-title mb-0">HbA1C values (%)</h6>
                                    </div>
                                    <div class="card-body">
                                        <canvas class="my-4 w-100" id="history-chart" width="900" height="380"></canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="card mb-4">
                                  <div class="card-header with-elements">
                                      <h6 class="card-header-title mb-0">HbA1C values differences (%)</h6>
                                  </div>
                                  <div class="card-body">
                                        <canvas class="my-4 w-100" id="small-variation-chart" width="900" height="380"></canvas>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header with-elements pb-0">
                                        <h6 class="card-header-title">Last {{ data|limit:10|length }} values introduced</h6>
                                    </div>
                                    <div class="nav-tabs-top">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="sale-stats">
                                                <div style="height: 330px" id="last-values">
                                                    <table class="table table-hover card-table">
                                                        <thead>
                                                            <tr>
                                                                <th>#</th>
                                                                <th>HbA1c value</th>
                                                                <th>Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for value in data|reverse|limit:10 %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ value }}</td>
                                                                <td>{{ labels|reverse|limit:10|at:forloop.counter0 }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card mb-4">
                                    <div class="card-header with-elements pb-0">
                                        <h6 class="card-header-title">Last {{ data|limit:10|length }} classification results</h6>
                                    </div>
                                    <div class="nav-tabs-top">
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="sale-stats">
                                                <div style="height: 330px" id="last-values">
                                                    <table class="table table-hover card-table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">SBP</th>
                                                                <th scope="col">DBP</th>
                                                                <th scope="col">Triglyceride</th>
                                                                <th scope="col">HDL</th>
                                                                <th scope="col">LDL</th>
                                                                <th scope="col">GPT</th>
                                                                <th scope="col">Height</th>
                                                                <th scope="col">Weight</th>
                                                                <th scope="col">Urinary Glucose</th>
                                                                <th scope="col">Serum Creatinine</th>
                                                                <th scope="col">eGFR</th>
                                                                <th scope="col">Urinary Protein</th>
                                                                <th scope="col">Eyeground</th>
                                                                <th scope="col">Blood Classification</th>
                                                                <th scope="col">Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for v in history_data %}
                                                            <tr>
                                                                <td>{{ forloop.counter }}</td>
                                                                <td>{{ v.systolic_bp }}</td>
                                                                <td>{{ v.diastolic_bp }}</td>
                                                                <td>{{ v.triglyceride }}</td>
                                                                <td>{{ v.hdl }}</td>
                                                                <td>{{ v.ldl }}</td>
                                                                <td>{{ v.gpt }}</td>
                                                                <td>{{ v.height }}</td>
                                                                <td>{{ v.weight }}</td>
                                                                <td>{{ v.urinary_glucose }}</td>
                                                                <td>{{ v.serum_creatinine }}</td>
                                                                <td>{{ v.egfr }}</td>
                                                                <td>{{ v.uric_pro }}</td>
                                                                <td>{{ v.eyeground }}</td>
                                                                <td>{{ v.class_type }}</td>
                                                                <td>{{ v.date }}</td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% else %}
                        <div class="alert alert-warning" role="alert">
                          This patient has no data introduced for this interval! <br />
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="layout-overlay layout-sidenav-toggle"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'dashboard/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'dashboard/js/perfect-scrollbar.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
    </script>
    {% if data|length > 0 %}
    <script src="{% static 'dashboard/js/chart-drawer.js' %}"></script>
    <script>draw_history_chart({{data|safe}}, {{labels|safe}});</script>
    <script>draw_small_variation_chart({{data|safe}}, {{labels|safe}});</script>
    {% endif %}
</body>

</html>
