{% extends "dashboard/dashboard.html"%}
{% load static %}

{% block dashboard-content%}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="row mt-1">
        <div class="col-md-7 justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 text-gold">0.5% variation</h1>
            <h1 class="h5">If the absolute difference between two consecutive values is greater that 0.5% (red bars), it means that there may be significant metabolic changes and you should inform your doctor. </h1>
        </div>

        <div
            class="col justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <form method="get" name='form' id='form' class="form-group row pt-2">
                <div class="col-md-4 form-group">
                    <label for="start_date">Start date:</label>
                    <input type="date" class="form-control" id="start_date" name="start_date" {% if date.start %}value="{{ date.start }}"{% endif %} required>
                </div>
                <div class="col-md-4 form-group">
                    <label for="end_date">End date:</label>
                    <input type="date" class="form-control" id="end_date" name="end_date" {% if date.end %}value="{{ date.end }}"{% endif %} required>
                </div>
                <div class="col-md-4 form-group" style="margin-top:20px">
                    <button class="btn btn-outline-gold" id="submit" type="submit">Get data</button>
                </div>
            </form>
        </div>
    </div>

    <canvas class="my-4 w-100" id="small-variation-chart" width="900" height="380"></canvas>
</main>

<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
    integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
    integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous">
</script>

{% if data|length > 0 %}
<script src="{% static 'dashboard/js/chart-drawer.js' %}"></script>
<script>draw_small_variation_chart({{data|safe}}, {{labels|safe}});</script>
{% endif %}

{% endblock %}
